<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bulma.min.css">
  <title>Art Mirror</title>
  <meta name="description" content="Strike a pose and see a painting that matches!">
  <meta name="author" content="Alex Lew, Kaloyan Kolev, Paulos Thomas">
</head>

<body>

  <div class="tile is-ancestor">
    <div class="tile is-4">
      <!-- 1/3 -->
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child box">
              <figure class="image is-16by9" id="depth_cam">
                <img src="images/rectangle_1.png">
              </figure>
          </article>
          <article class="tile is-child box">
            <h1 class="title" id="name">title</h1>
            <h2 class="subtitle" id="artistDisplayName">artistDisplayName</h2>
            <p class="paragraph" id="objectDate">objectDate</p>
            <p class="paragraph" id="medium">medium</p>
            <p class="paragraph" id="repository">repository</p>
          </article>
          <article class="tile is-child box">
            <p class="paragraph">Art Mirror is made by Alex Lew, Kaloyan Kolev and Paulos Thomas using data from the Metropolitan Museum of Art.</p>
          </article>
        </div>
      </div>
    </div>
    <div class="tile">
      <!-- This tile will take the rest: 2/3 -->
      <div class="tile is-parent">
        <article class="tile is-child box">
          <figure class="image" id="painting">
            <img src="images/art.png">
          </figure>      
        </article>
      </div>
    </div>  
  </div>
</body>  
</html>